@import "~@css/dimens.styl"
@import "~@css/reset.css"
@import "~@css/colors.styl"
.text-line-2{
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.z-index-max{
  z-index 9999
}
