@import "~@css/dimens.styl"
@import "~@css/reset.css"
@import "~@css/colors.styl"
.text-line-2{
  overflow hidden
  text-overflow ellipsis
  word-break break-word
  -webkit-line-clamp:2
  -moz-box-orient vertical
}
